<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/header.css" type="text/css" />
    <link rel="stylesheet" href="../styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="../styles/boatRentals.css" type="text/css" />
    <link rel="stylesheet" href="../styles/boatDetails.css" type="text/css" />
    <link rel="stylesheet" href="https://use.typekit.net/dwr2hrv.css">
    
    <title>Downtown Marina</title>
  </head>
  <body>
    <header class="header"> 
      <div class="logo">
        <a href='../templates/home.html'>
          <img src="../images/home/Downtown-Marina-Logo.svg" alt="logo">
        </a>
      </div>
      <div class="book">
        <div class="hang10">
          <img src="../images/home/Doodle-Hang-Loose.svg" alt="hangLoose">
        </div>
        <a href="/" class="book-link">BOOK ONLINE</a>
      </div>
      <nav class="navbar nav navbar-expand-md justify-content-center align-items-center">
        <ul id="navbar-inner" class="navbar-nav">
          <button class="navbar-toggler navbar-dark" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
            <span id="menu">Menu</span>
          </button>
          <div class="collapse navbar-collapse" id="collapse_target">
            <li class="nav-item">
              <a class="nav-link" href="../templates/boatRentals.html">BOAT RENTALS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">BOAT TOURS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">MOORAGE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">FUEL + RETAIL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">PHOTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">NEWS + TIPS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">CONTACT</a>
            </li>
          </div>
        </ul>
      </nav>
    </header>
    <div class="banner-overlay">
      <div class="weather"></div>
      <div class="banner"></div>
      <h1 class="page-title">BOAT RENTALS</h1>
      <div class="back">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
          <div class="link-back">&nbsp Back to Overview &nbsp</div>
          <div>&nbsp MasterCraft X24</div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row slide-show">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm title">
              MasterCraft X24
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="img-gallery">
                <div class="rentalImage">
                  <img id="mainImage" src="../images/boatRentals/MasterCraftX24.jpg" alt="rental-item">
                </div>
                <div class='image-roll'>
                  <img class="sub-img" src="../images/boatRentals/MasterCraftX24.jpg" alt="rental-item">
                  <img class="sub-img" src="../images/boatRentals/ChaparralH2019Sport.jpg" alt="rental-item">
                  <img class="sub-img" src="../images/boatRentals/ChaparralH2019Sport.jpg" alt="rental-item">
                  <img class="sub-img" src="../images/boatRentals/ChaparralH2019Sport.jpg" alt="rental-item">
                  <img class="sub-img" src="../images/boatRentals/ChaparralH2019Sport.jpg" alt="rental-item">
                  <img class="sub-img" src="../images/boatRentals/ChaparralH2019Sport.jpg" alt="rental-item">
                  <img class="sub-img" src="../images/boatRentals/ChaparralH2019Sport.jpg" alt="rental-item">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row details">
        <div class="col-sm detailed-info">
          <div class="brand-name">MasterCraft X24</div>
          Do you crave a life that knows no limit? Take your summer to the next level and live it up in our XT23, an all new crossover MasterCraft that welcomes wakeboards, surfboards, skis and whatever else you please! The XT23 is where classic traditional bow meets new progressives style lines. An Ilmor engine delivers the highest level of performance and is ideal for competitive to recreational water sports. Get ready to make some waves while also enjoying Gen 2 Surf System and a substantial 2600 pounds of ballast. Enjoy an industry-leading quality boat with your loved ones with the XT23.
        </div>
        <div class="col-sm specs-col">
          <div class="spec">SPECS</div>
          <div class="spec-table">
            <div>
              <div>Seating:</div>
              <div>Length:</div>
              <div>Ballast:</div>
              <div>Tower w/Shade:</div>
              <div>Tower Speakers:</div>
              <div>Engine:</div>
            </div>
            <div>
              <div>16</div>
              <div>23 ft 4in (7.11m)</div>
              <div>2660lbs</div>
              <div>Yes</div>
              <div>Yes</div>
              <div>Ilmore 5000 MPI VD 1.57</div>
            </div>
          </div>
          <div class="note">Note: Actual boat and specs may vary from pictures.</div>
        </div>
      </div>
      <div class="row pricing-row">
        <div class="col-sm perHour">
          <div class="perHrTitle">PER HOUR</div>
          <div class="time">
            <div>
              <div>8-10AM</div>
              <div class="perHrPrice">$299</div>
            </div>
            <div>
              <div>1 HOUR</div>
              <div class="perHrPrice">$339</div>
            </div>
            <div>
              <div>2 HOURS</div>
              <div class="perHrPrice">$579</div>
            </div>
            <div>
              <div>4 HOURS</div>
              <div class="perHrPrice">$1,039</div>
            </div>
            <div>
              <div>8 HOURS</div>
              <div class="perHrPrice">$1,419</div>
            </div>
          </div>
          <form action="/">
            <label>
              <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;BOOK HOURLY"></input>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
              </svg>
            </label>
          </form>
        </div>
        <div class="col-sm perDay">
          <div class="perDay-title">PER DAY</div>
            <div class="times">
              <div>3-6 DAYS</div>
              <div>7+ DAYS</div>
            </div>
            <div class="perDayPrices">
              <div>$1,299</div>
              <div>$1,069</div>
            </div>
            <form action="/">
              <label>
                <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;BOOK DAILY"></input>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
              </label>
            </form>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-content">
        <div class="contact-info">
          <img src="../images/home/Downtown-Marina-Logo.svg" alt="logo">
          <div class="contact-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3 footer-icon" viewBox="0 0 16 16">
              <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
              <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            <div><b>Open 7 days a week<br> Boating season: May - Sept</b></div>
          </div>
          <div class="contact-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill footer-icon" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            </svg>
            <div>210 Bernard Ave,<br> Kelowna BC V1Y 1H2</div>
          </div>
          <div class="contact-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill footer-icon" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg>
            <div>250-763-5599</div>
          </div>
          <div class="contact-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill footer-icon" viewBox="0 0 16 16">
              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
            </svg>
            <div>info@downtownmarina.ca</div>
          </div>
        </div>
        <div class="footer-links">
          <a href="../templates/boatRentals.html"><b>BOAT RENTALS</b></a>
          <a href="/"><b>BOAT TOURS</b></a>
          <a href="/"><b>MOORAGE</b></a>
          <a href="/"><b>FUEL + RETAIL</b></a>
          <a href="/"><b>PHOTOS</b></a>
          <a href="/"><b>CONTACT</b></a>
          <a href="/"><b>PRIVACY POLICY</b></a>
          <a href="/"><b>TERMS OF SERVICE</b></a>
        </div>
        <div class="footer-links2">
          <a href="/"><b>NEWS + TIPS</b></a>
          <a href="/" class="tips">COVID-19 UPDATE</a>
          <a href="/" class="tips">BOATING FAQ</a>
          <a href="/" class="tips">SEADOO RENTAL FAQ</a>
          <a href="/" class="tips">MOORAGE + FUEL STATION NEWS</a>
          <a href="/" class="tips">OKANAGAN LAKE INFO</a>
          <a href="/" class="tips">THINGS TO DO</a>
          <a href="/" class="tips">ABOUT US</a>
        </div>
      </div>
      <img class="sun" src="../images/home/Doodle-Sun.svg" alt="sun-doodle">
      <img class="surfboard" src="../images/home/Doodle-Surfboard.svg" alt="surf-doodle">
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="../scripts/boatRentals.js"></script>
    <script type="text/javascript" src="../scripts/boatDetails.js"></script>
    <script type="text/javascript" src="../scripts/header.js"></script>
  </body>
</html>