<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/header.css" type="text/css" />
    <link rel="stylesheet" href="../styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="../styles/boatRentals.css" type="text/css" />
    <link rel="stylesheet" href="https://use.typekit.net/dwr2hrv.css">
    
    <title>Downtown Marina</title>
  </head>
  <body>
    <header class="header"> 
      <div class="logo">
        <a href='../templates/home.html'>
          <img src="../images/home/Downtown-Marina-Logo.svg" alt="logo">
        </a>
      </div>
      <div class="book">
        <div class="hang10">
          <img src="../images/home/Doodle-Hang-Loose.svg" alt="hangLoose">
        </div>
        <a href="/" class="book-link">BOOK ONLINE</a>
      </div>
      <nav class="navbar nav navbar-expand-md justify-content-center align-items-center">
        <ul id="navbar-inner" class="navbar-nav">
          <button class="navbar-toggler navbar-dark" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
            <span id="menu">Menu</span>
          </button>
          <div class="collapse navbar-collapse" id="collapse_target">
            <li class="nav-item">
              <a class="nav-link" href="../templates/boatRentals.html">BOAT RENTALS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">BOAT TOURS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">MOORAGE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">FUEL + RETAIL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">PHOTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">NEWS + TIPS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">CONTACT</a>
            </li>
          </div>
        </ul>
      </nav>
    </header>
    <div class="banner-overlay">
      <div class="weather"></div>
      <div class="banner"></div>
      <h1 class="page-title">BOAT RENTALS</h1>
    </div>
    <div class="brands">
      <img class="rope" src="../images/boatRentals/DM-BoatBrands-Chaparral-300pxW.png" alt="brands">
      <img class="rope" src="../images/boatRentals/DM-BoatBrands-Cobalt-300pxW.png" alt="brands">
      <img class="rope" src="../images/boatRentals/DM-BoatBrands-MasterCraft-300pxW.png" alt="brands">
      <img class="rope" src="../images/boatRentals/DM-BoatBrands-Premier-Pontoons-300pxW.png" alt="brands">
      <img class="rope" src="../images/boatRentals/DM-BoatBrands-Sea-Doo-300pxW.png" alt="brands">
      <img class="rope" src="../images/boatRentals/DM-BoatBrands-South-Bay-300pxW.png" alt="brands">
      <img class="rope" src="../images/boatRentals/DM-BoatBrands-SunChaser-300pxW.png" alt="brands">
      <img class="rope" src="../images/boatRentals/DM-BoatBrands-Templar-Electric-300pxW.png" alt="brands">
      <img class="rope" src="../images/boatRentals/DM-BoatBrands-Yamaha-300pxW.png" alt="brands">
    </div>
    <div class="beachy">
      <div class="slide2"></div>
      <div class="feeling">
        <img src="../images/home/Doodle-Birds.svg" alt="jump in">
        <article class="articles">
          <div>
            <h1>ALL ABOARD</h1>
          </div>
          <p>Want to skim the waves and seek out hidden beaches on a Sea-Doo? No problem. <br>Dying to try wakesurfing, wakeboarding, waterskiing or tubing? We've got you covered.</p>
          <p>Our fleet of boat rentals in Kelowna is the perfect way to explore Okanagan Lake. From high-end MasterCrafts and tow boats to Chaparral bowriders, from kayaks to paddle boards, Kelowna Downtown Marina can get you on the lake affordably and in style.</p>
          <p>Take a cruide through our boats for rent - there is something for everyone, every family, every sun-lover.</p>
        </article>
      </div>
    </div>
      <div class="isotope-container">
        <div class="menu">
          <ul>
            <li class="active" data-filter="*">ALL</li>
            <li data-filter=".wakesurf">WAKESURF + WAKEBOARD</li>
            <li data-filter=".bowrider">BOWRIDER</li>
            <li data-filter=".pontoon">PONTOON</li>
            <li data-filter=".jet-ski">JET SKI</li>
            <li data-filter=".kayaks">KAYAKS + PADDLE BOARDS</li>
          </ul>
        </div>
        <div class="items">
          <div class="item wakesurf">
            <img src="../images/boatRentals/MasterCraftX24.jpg" alt="rental-item">
            <div class="item-card">
              <h2 class="item-title">MasterCraft X24</h2>
              <p class="item-details">Do you crave a life that knows no limit? Take your summer to the next level and...<a class="details" href="../templates/boatDetails.html">View Details</a></p>
              <div class="rate-tables">
                <div class="item-rates">
                  <div class="rate-type">PER HOUR</div>
                  <div class="rate-rows">
                    <div>8-10AM:</div>
                    <div>$299</div>
                  </div>
                  <div class="rate-rows">
                    <div>1HR:</div>
                    <div>$339</div>
                  </div>
                  <div class="rate-rows">
                    <div>2HRs:</div>
                    <div>$579</div>
                  </div>
                  <div class="rate-rows">
                    <div>4HRs:</div>
                    <div>$1,039</div>
                  </div>
                  <div class="rate-rows">
                    <div>8HRs:</div>
                    <div>$1,419</div>
                  </div>
                  <form action="/">
                    <label>
                      <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOOK HOURLY"></input>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                      </svg>
                    </label>
                  </form>
                </div>
                <div class="item-rates">
                  <div class="rate-type">PER DAY</div>
                  <div class="rate-rows">
                    <div>3-6 DAYS:</div>
                    <div>$1,299</div>
                  </div>
                  <div class="rate-rows">
                    <div>7+ DAYS:</div>
                    <div>$1,069</div>
                  </div>
                  <form class="daily" action="/">
                  <label>
                    <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOOK DAILY"></input>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                  </label>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="item bowrider">
            <img src="../images/boatRentals/ChaparralH2019Sport.jpg" alt="rental-item">
            <div class="item-card">
              <h2 class="item-title">Chaparral H20 19 Sport</h2>
              <p class="item-details">Do you crave a life that knows no limit? Take your summer to the next level and...<a class="details" href="../templates/boatDetails.html">View Details</a></p>
              <div class="rate-tables">
                <div class="item-rates">
                  <div class="rate-type">PER HOUR</div>
                  <div class="rate-rows">
                    <div>8-10AM:</div>
                    <div>$299</div>
                  </div>
                  <div class="rate-rows">
                    <div>1HR:</div>
                    <div>$339</div>
                  </div>
                  <div class="rate-rows">
                    <div>2HRs:</div>
                    <div>$579</div>
                  </div>
                  <div class="rate-rows">
                    <div>4HRs:</div>
                    <div>$1,039</div>
                  </div>
                  <div class="rate-rows">
                    <div>8HRs:</div>
                    <div>$1,419</div>
                  </div>
                  <form action="/">
                    <label>
                      <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOOK HOURLY"></input>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                      </svg>
                    </label>
                  </form>
                </div>
                <div class="item-rates">
                  <div class="rate-type">PER DAY</div>
                  <div class="rate-rows">
                    <div>3-6 DAYS:</div>
                    <div>$1,299</div>
                  </div>
                  <div class="rate-rows">
                    <div>7+ DAYS:</div>
                    <div>$1,069</div>
                  </div>
                  <form class="daily" action="/">
                  <label>
                    <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOOK DAILY"></input>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                  </label>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="item pontoon">
            <img src="../images/boatRentals/SouthBayPontoon.jpeg" alt="rental-item">
            <div class="item-card">
              <h2 class="item-title">South Bay 525E Pontoon</h2>
              <p class="item-details">Do you crave a life that knows no limit? Take your summer to the next level and...<a class="details" href="../templates/boatDetails.html">View Details</a></p>
              <div class="rate-tables">
                <div class="item-rates">
                  <div class="rate-type">PER HOUR</div>
                  <div class="rate-rows">
                    <div>8-10AM:</div>
                    <div>$299</div>
                  </div>
                  <div class="rate-rows">
                    <div>1HR:</div>
                    <div>$339</div>
                  </div>
                  <div class="rate-rows">
                    <div>2HRs:</div>
                    <div>$579</div>
                  </div>
                  <div class="rate-rows">
                    <div>4HRs:</div>
                    <div>$1,039</div>
                  </div>
                  <div class="rate-rows">
                    <div>8HRs:</div>
                    <div>$1,419</div>
                  </div>
                  <form action="/">
                    <label>
                      <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOOK HOURLY"></input>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                      </svg>
                    </label>
                  </form>
                </div>
                <div class="item-rates">
                  <div class="rate-type">PER DAY</div>
                  <div class="rate-rows">
                    <div>3-6 DAYS:</div>
                    <div>$1,299</div>
                  </div>
                  <div class="rate-rows">
                    <div>7+ DAYS:</div>
                    <div>$1,069</div>
                  </div>
                  <form class="daily" action="/">
                  <label>
                    <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOOK DAILY"></input>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                  </label>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="item jet-ski">
            <img src='../images/boatRentals/YamahaVXDeluxe.jpg' alt="rental-item">
            <div class="item-card">
              <h2 class="item-title">Yamaha VX Deluxe</h2>
              <p class="item-details">Do you crave a life that knows no limit? Take your summer to the next level and...<a class="details" href="../templates/boatDetails.html">View Details</a></p>
              <div class="rate-tables">
                <div class="item-rates">
                  <div class="rate-type">PER HOUR</div>
                  <div class="rate-rows">
                    <div>8-10AM:</div>
                    <div>$299</div>
                  </div>
                  <div class="rate-rows">
                    <div>1HR:</div>
                    <div>$339</div>
                  </div>
                  <div class="rate-rows">
                    <div>2HRs:</div>
                    <div>$579</div>
                  </div>
                  <div class="rate-rows">
                    <div>4HRs:</div>
                    <div>$1,039</div>
                  </div>
                  <div class="rate-rows">
                    <div>8HRs:</div>
                    <div>$1,419</div>
                  </div>
                  <form action="/">
                    <label>
                      <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOOK HOURLY"></input>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                      </svg>
                    </label>
                  </form>
                </div>
                <div class="item-rates">
                  <div class="rate-type">PER DAY</div>
                  <div class="rate-rows">
                    <div>3-6 DAYS:</div>
                    <div>$1,299</div>
                  </div>
                  <div class="rate-rows">
                    <div>7+ DAYS:</div>
                    <div>$1,069</div>
                  </div>
                  <form class="daily" action="/">
                  <label>
                    <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOOK DAILY"></input>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                  </label>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="item jet-ski}">
            <img src='../images/boatRentals/Sea-DooGTI90.jpeg' alt="rental-item">
            <div class="item-card">
              <h2 class="item-title">Sea-Doo GTI 90</h2>
              <p class="item-details">Do you crave a life that knows no limit? Take your summer to the next level and...<a class="details" href="../templates/boatDetails.html">View Details</a></p>
              <div class="rate-tables">
                <div class="item-rates">
                  <div class="rate-type">PER HOUR</div>
                  <div class="rate-rows">
                    <div>8-10AM:</div>
                    <div>$299</div>
                  </div>
                  <div class="rate-rows">
                    <div>1HR:</div>
                    <div>$339</div>
                  </div>
                  <div class="rate-rows">
                    <div>2HRs:</div>
                    <div>$579</div>
                  </div>
                  <div class="rate-rows">
                    <div>4HRs:</div>
                    <div>$1,039</div>
                  </div>
                  <div class="rate-rows">
                    <div>8HRs:</div>
                    <div>$1,419</div>
                  </div>
                  <form action="/">
                    <label>
                      <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOOK HOURLY"></input>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                      </svg>
                    </label>
                  </form>
                </div>
                <div class="item-rates">
                  <div class="rate-type">PER DAY</div>
                  <div class="rate-rows">
                    <div>3-6 DAYS:</div>
                    <div>$1,299</div>
                  </div>
                  <div class="rate-rows">
                    <div>7+ DAYS:</div>
                    <div>$1,069</div>
                  </div>
                  <form class="daily" action="/">
                  <label>
                    <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOOK DAILY"></input>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                  </label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="beachy">
      <div class="slide3">
        <article class="articles">
          <div>
            <h1>TUBES, SKIS, AND<br> WAKEBOARDS</h1>
          </div>
          <p>Make a bigger splash on Okanagan Lake with water toys!<br> Kelowna Downtown Marina has a great selection of tubes, wake surf boards, water skids, and wakeboards for you to add to your boat rental.</p>
          <p>Renting a boat for a day or more? We're happy to give you a free accessory with your rental.</p>
          <div class="tube-rates">
            <h2>PER HOUR</h2>
            <div>
              <div>1HR:</div>
              <div>$15</div>
            </div>
            <div>
              <div>2HRS:</div>
              <div>$20</div>
            </div>
            <div>
              <div>4HRS:</div>
              <div>$40</div>
            </div>
          </div>
         </article>
      </div>
      <div class="tubes"></div>
    </div>
    <h1 class="faq">FAQ</h1>
    <div class="faq">
      <div class="faq-item">
        <div class="qNa">
          <h2>Q:&nbspIS THERE A DAMAGE DEPOSIT REQUIRED IN ORDER TO RENT A BOAT? </h2>
          <div class="answer hidden"><b>A:&nbsp</b> Yes. For SeaDoos, Chaparrals, and Cobalts, there is a $500 damage deposit. For Tournament boats, there is a $1000 damage deposit.</div>
        </div>
        <div class="faq-expand">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash hidden" viewBox="0 0 16 16">
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
          </svg>
        </div>
      </div>
      <div class="faq-item">
        <div class="qNa">
          <h2>Q:&nbspIS THERE A DAMAGE DEPOSIT REQUIRED IN ORDER TO RENT A BOAT? </h2>
          <div class="answer hidden"><b>A:&nbsp</b> Yes. For SeaDoos, Chaparrals, and Cobalts, there is a $500 damage deposit. For Tournament boats, there is a $1000 damage deposit.</div>
        </div>
        <div class="faq-expand">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash hidden" viewBox="0 0 16 16">
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
          </svg>
        </div>
      </div>
      <div class="faq-item">
        <div class="qNa">
          <h2>Q:&nbspIS THERE A DAMAGE DEPOSIT REQUIRED IN ORDER TO RENT A BOAT? </h2>
          <div class="answer hidden"><b>A:&nbsp</b> Yes. For SeaDoos, Chaparrals, and Cobalts, there is a $500 damage deposit. For Tournament boats, there is a $1000 damage deposit.</div>
        </div>
        <div class="faq-expand">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash hidden" viewBox="0 0 16 16">
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
          </svg>
        </div>
      </div>
      <div class="faq-item">
        <div class="qNa">
          <h2>Q:&nbspIS THERE A DAMAGE DEPOSIT REQUIRED IN ORDER TO RENT A BOAT? </h2>
          <div class="answer hidden"><b>A:&nbsp</b> Yes. For SeaDoos, Chaparrals, and Cobalts, there is a $500 damage deposit. For Tournament boats, there is a $1000 damage deposit.</div>
        </div>
        <div class="faq-expand">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash hidden" viewBox="0 0 16 16">
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
          </svg>
        </div>
      </div>
      <div class="faq-item">
        <div class="qNa">
          <h2>Q:&nbspIS THERE A DAMAGE DEPOSIT REQUIRED IN ORDER TO RENT A BOAT? </h2>
          <div class="answer hidden"><b>A:&nbsp</b> Yes. For SeaDoos, Chaparrals, and Cobalts, there is a $500 damage deposit. For Tournament boats, there is a $1000 damage deposit.</div>
        </div>
        <div class="faq-expand">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash hidden" viewBox="0 0 16 16">
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
          </svg>
        </div>
      </div>
      <div class="faq-item">
        <div class="qNa">
          <h2>Q:&nbspIS THERE A DAMAGE DEPOSIT REQUIRED IN ORDER TO RENT A BOAT? </h2>
          <div class="answer hidden"><b>A:&nbsp</b> Yes. For SeaDoos, Chaparrals, and Cobalts, there is a $500 damage deposit. For Tournament boats, there is a $1000 damage deposit.</div>
        </div>
        <div class="faq-expand">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash hidden" viewBox="0 0 16 16">
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
          </svg>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-content">
        <div class="contact-info">
          <img src="../images/home/Downtown-Marina-Logo.svg" alt="logo">
          <div class="contact-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3 footer-icon" viewBox="0 0 16 16">
              <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
              <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            <div><b>Open 7 days a week<br> Boating season: May - Sept</b></div>
          </div>
          <div class="contact-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill footer-icon" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            </svg>
            <div>210 Bernard Ave,<br> Kelowna BC V1Y 1H2</div>
          </div>
          <div class="contact-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill footer-icon" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg>
            <div>250-763-5599</div>
          </div>
          <div class="contact-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill footer-icon" viewBox="0 0 16 16">
              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
            </svg>
            <div>info@downtownmarina.ca</div>
          </div>
        </div>
        <div class="footer-links">
          <a href="../templates/boatRentals.html"><b>BOAT RENTALS</b></a>
          <a href="/"><b>BOAT TOURS</b></a>
          <a href="/"><b>MOORAGE</b></a>
          <a href="/"><b>FUEL + RETAIL</b></a>
          <a href="/"><b>PHOTOS</b></a>
          <a href="/"><b>CONTACT</b></a>
          <a href="/"><b>PRIVACY POLICY</b></a>
          <a href="/"><b>TERMS OF SERVICE</b></a>
        </div>
        <div class="footer-links2">
          <a href="/"><b>NEWS + TIPS</b></a>
          <a href="/" class="tips">COVID-19 UPDATE</a>
          <a href="/" class="tips">BOATING FAQ</a>
          <a href="/" class="tips">SEADOO RENTAL FAQ</a>
          <a href="/" class="tips">MOORAGE + FUEL STATION NEWS</a>
          <a href="/" class="tips">OKANAGAN LAKE INFO</a>
          <a href="/" class="tips">THINGS TO DO</a>
          <a href="/" class="tips">ABOUT US</a>
        </div>
      </div>
      <img class="sun" src="../images/home/Doodle-Sun.svg" alt="sun-doodle">
      <img class="surfboard" src="../images/home/Doodle-Surfboard.svg" alt="surf-doodle">
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="../scripts/boatRentals.js"></script>
    <script type="text/javascript" src="../scripts/header.js"></script>
  </body>
</html>