<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/home.css" type="text/css" />
    <link rel="stylesheet" href="../styles/header.css" type="text/css" />
    <link rel="stylesheet" href="../styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="../styles/carousel.css" type="text/css" />
    <link rel="stylesheet" href="https://use.typekit.net/dwr2hrv.css">
    
    <!-- Icons -->
    <script src="https://use.fontawesome.com/c38ad8b864.js"></script>
    
    <title>Downtown Marina</title>
  </head>
  <body>
    <header class="header"> 
      <div class="logo">
        <a href='../templates/home.html'>
          <img src="../images/home/Downtown-Marina-Logo.svg" alt="logo">
        </a>
      </div>
      <div class="book">
        <div class="hang10">
          <img src="../images/home/Doodle-Hang-Loose.svg" alt="hangLoose">
        </div>
        <a href="/" class="book-link">BOOK ONLINE</a>
      </div>
      <nav class="navbar nav navbar-expand-md justify-content-center align-items-center">
        <ul id="navbar-inner" class="navbar-nav">
          <button class="navbar-toggler navbar-dark" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
            <span id="menu">Menu</span>
          </button>
          <div class="collapse navbar-collapse" id="collapse_target">
            <li class="nav-item">
              <a class="nav-link" href="../templates/boatRentals.html">BOAT RENTALS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">BOAT TOURS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">MOORAGE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">FUEL + RETAIL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">PHOTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">NEWS + TIPS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">CONTACT</a>
            </li>
          </div>
        </ul>
      </nav>
    </header>
    <div class="introPage">
      <div class="weather"></div>
      <div class="intro">THE FUN <br> STARTS HERE</div>
      <div class="jump">
        <div class="jumpIn">
          Jump in
          <!-- <img src="../images/icons/Jump-In.svg" alt="jump in"> -->
        </div>
        <div class="bubble">
          <img class="arrowCircle" src="../images/icons/arrow-circle-bottom.svg" alt="icon name">
        </div>
      </div>
    </div>
    <div class="live">
      <h1 class="wave">LIVE THE LAKE LIFE</h1>
      <img class="wave" src="../images/home/Doodle-Wave.svg" alt="jump in">
      <p class="wave"> Lorem volutpat consequat mauris nunc congue nisi vitae suscipit tellus mauris a diam maecenas sed enim ut sem viverra aliquet eget sit amet tellus cras adipiscing enim eu turpis egestas pretium.</p>
    </div>
    <!-- First Grid -->
    <div class="container-fluid" id="live-grid">
      <div class="row justify-content-center align-items-center">
        <div class="w-20">
          <img class="img-fluid" src="../images/home/DM-Rental-Categories-Wakesurf-Wakeboard.jpg" alt="jump in">
          <p><b>Wakesurf + Wakeboard</b></p>
        </div>
        <div class="w-20">
          <img class="img-fluid" src="../images/home/DM-Rental-Categories-Bowrider.jpg" alt="jump in">
          <p><b>Bowrider</b></p>
        </div>
        <div class="w-20">
          <img class="img-fluid" src="../images/home/DM-Rental-Categories-Pontoon.jpg" alt="jump in">
          <p><b>Pontoon</b></p>
        </div>
        <div class="w-20">
          <img class="img-fluid" src="../images/home/DM-Rental-Categories-Jet-Ski.jpg" alt="jump in">
          <p><b>Jet Ski</b></p>
        </div>
        <div class="w-20">
          <img class="img-fluid" src="../images/home/DM-Rental-Categories-Kayaks-Paddleboards.jpg" alt="jump in">
          <p><b>Kayaks + Paddle Boards</b></p>
        </div>
      </div>
    </div>

    <!-- First Grid gets substituted for this carousel in small displays -->
    <div id="live-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#live-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#live-carousel" data-slide-to="1"></li>
        <li data-target="#live-carousel" data-slide-to="2"></li>
        <li data-target="#live-carousel" data-slide-to="3"></li>
        <li data-target="#live-carousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../images/home/DM-Rental-Categories-Wakesurf-Wakeboard.jpg" alt="First slide">
          <div class="carousel-caption">
            <h4><b>Wakesurf + Wakeboard</b></h4>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../images/home/DM-Rental-Categories-Bowrider.jpg" alt="Second slide">
          <div class="carousel-caption">
            <h4><b>Bowrider</b></h4>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../images/home/DM-Rental-Categories-Pontoon.jpg" alt="Third slide">
          <div class="carousel-caption">
            <h4><b>Pontoon</b></h4>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../images/home/DM-Rental-Categories-Jet-Ski.jpg" alt="Fourth slide">
          <div class="carousel-caption">
            <h4><b>Jet Ski</b></h4>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../images/home/DM-Rental-Categories-Kayaks-Paddleboards.jpg" alt="Fifth slide">
          <div class="carousel-caption">
            <h4><b>Kayaks + Paddle Boards</b></h4>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#live-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#live-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="beachy">
      <div class="slide2"></div>
      <div class="feeling">
        <article class="articles">
          <div>
            <h1>FEELIN' <br> BEACHY <br> KEEN</h1>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellu.</p>
          <form action="../templates/boatRentals.html">
            <input type="submit" value="SEE ALL BOAT RENTALS"/>
          </form>
        </article>
        <img class="doodle-bird" src="../images/home/Doodle-Birds.svg" alt="doodle-birds">
      </div>
    </div>
    <div class="map-slide">
      <div class="text-bubble">
        <div class="stars">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill='#fff' fill-rule="evenodd" d="M12.672.668a.75.75 0 00-1.345 0L8.27 6.865l-6.838.994a.75.75 0 00-.416 1.279l4.948 4.823-1.168 6.811a.75.75 0 001.088.791L12 18.347l6.117 3.216a.75.75 0 001.088-.79l-1.168-6.812 4.948-4.823a.75.75 0 00-.416-1.28l-6.838-.993L12.672.668z"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill='#fff' fill-rule="evenodd" d="M12.672.668a.75.75 0 00-1.345 0L8.27 6.865l-6.838.994a.75.75 0 00-.416 1.279l4.948 4.823-1.168 6.811a.75.75 0 001.088.791L12 18.347l6.117 3.216a.75.75 0 001.088-.79l-1.168-6.812 4.948-4.823a.75.75 0 00-.416-1.28l-6.838-.993L12.672.668z"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill='#fff' fill-rule="evenodd" d="M12.672.668a.75.75 0 00-1.345 0L8.27 6.865l-6.838.994a.75.75 0 00-.416 1.279l4.948 4.823-1.168 6.811a.75.75 0 001.088.791L12 18.347l6.117 3.216a.75.75 0 001.088-.79l-1.168-6.812 4.948-4.823a.75.75 0 00-.416-1.28l-6.838-.993L12.672.668z"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill='#fff' fill-rule="evenodd" d="M12.672.668a.75.75 0 00-1.345 0L8.27 6.865l-6.838.994a.75.75 0 00-.416 1.279l4.948 4.823-1.168 6.811a.75.75 0 001.088.791L12 18.347l6.117 3.216a.75.75 0 001.088-.79l-1.168-6.812 4.948-4.823a.75.75 0 00-.416-1.28l-6.838-.993L12.672.668z"></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill='#fff' fill-rule="evenodd" d="M12.672.668a.75.75 0 00-1.345 0L8.27 6.865l-6.838.994a.75.75 0 00-.416 1.279l4.948 4.823-1.168 6.811a.75.75 0 001.088.791L12 18.347l6.117 3.216a.75.75 0 001.088-.79l-1.168-6.812 4.948-4.823a.75.75 0 00-.416-1.28l-6.838-.993L12.672.668z"></path>
          </svg>
        </div>
        <div class="comment">
          <p>
            "Very friendly staff. We rented jet skis and had such a blast that we came back the following day to do it again!"
          </p>
          <p>
            - David T.
          </p>
        </div>
      </div>
      <img class="bubble-tail" src="../images/home/Text-Bubble-Tail.svg" alt="jump in">
      <div class="map"></div>
    </div>

    <div class="beachy slide3">
      <div class="moorage">
      </div>
      <article class="position2 articles">
        <div>
          <h1>MOORAGE</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellu.</p>
        <form action="/">
          <input type="submit" value="LEARN MORE"/>
        </form>
      </article>
      <div class="opaque"></div>
      <div class="fuel-retail">
      </div>
        <article class="position articles">
          <div>
            <h1>FUEL + RETAIL</h1>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellu.</p>
          <form action="/">
            <input type="submit" value="LEARN MORE"/>
          </form>
        </article>
    </div>
    <div class="live">
      <h1 class="wave">MAKING WAVES</h1>
    </div>
    
    <div class="container-fluid blog-grid mx-auto">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md-4">
          <img class="img-fluid" src="../images/home/blogimg.png" alt="blog-img">
          <div class="test">
            <article class='blog-article'>
              <p class="blog-date">March 20, 2021</p>
              <div class="blog-title">BLOG POST <br> TITLE HERE</div>
            </article>
          </div>
        </div>
        <div class="col-sm-8 col-md-4">
          <div>
            <img class="img-fluid" src="../images/home/blogimg.png" alt="blog-img">
            <article class='blog-article'>
              <p class="blog-date">March 20, 2021</p>
              <div class="blog-title">BLOG POST <br> TITLE HERE</div>
            </article>
          </div>
        </div>
        <div class="col-sm-8 col-md-4">
          <div>
            <img class="img-fluid" src="../images/home/blogimg.png" alt="blog-img">
            <article class='blog-article'>
              <p class="blog-date">March 20, 2021</p>
              <div class="blog-title">BLOG POST <br> TITLE HERE</div>
            </article>
          </div>
        </div>
      </div>
    </div>
     
    <div class="interactive-map">
      <img class="rope" src="../images/home/Doodle-Rope.svg" alt="jump in">
      <div>
        <h1>EXPLORE OKANAGAN LAKE</h1>
        <form action="/">
          <input type="submit" value="INTERACTIVE MAP"/>
        </form>
      </div>
    </div>
  

    <!-- Instagram Grid-->
    <div id="instagram-grid" class="container-fluid">
      <div class="row no-gutters gutter-2">
        <div class="col-md-2">
          <div class="instagram-col" style="background-image: url(../images/instagram/1.jpg)">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-2">
          <div class="instagram-col" style="background-image: url(../images/instagram/2.jpg)">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-2">
          <div class="instagram-col" style="background-image: url(../images/instagram/3.jpg)">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-2">
          <div class="instagram-col" style="background-image: url(../images/instagram/4.jpg)">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-2">
          <div class="instagram-col" style="background-image: url(../images/instagram/5.jpg)">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-2">
          <div class="instagram-col" style="background-image: url(../images/instagram/6.jpg)">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="row no-gutters gutter-2">
        <div class="col-md-2">
          <div class="instagram-col" style="background-image: url(../images/instagram/7.jpg)">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-2">
          <div class="instagram-col" style="background-image: url(../images/instagram/8.jpg)">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-2">
          <div class="instagram-col" style="background-image: url(../images/instagram/9.jpg)">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-2">
          <div class="instagram-col" style="background-image: url(../images/instagram/10.jpg)">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-2">
          <div class="instagram-col" style="background-image: url(../images/instagram/11.jpg)">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-2">
          <div class="instagram-col" style="background-image: url(../images/instagram/12.jpg)">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Instagram Carousel (Small - MD Devices)-->
    <div class="top-content" style="width: 100%;">
      <div class="container-fluid" style="width: 100%;">
          <div id="carousel-instagram" style="width: 100%;" class="carousel slide" data-ride="carousel" data-interval="false">
              <div class="carousel-inner row w-100 mx-auto">
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                    <div class="instagram-col" style="background-image: url(../images/instagram/1.jpg); height: 20em;">
                      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    </div>                   
                  </div>
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="instagram-col" style="background-image: url(../images/instagram/2.jpg); height: 20em;">
                      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    </div>                  
                  </div>
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="instagram-col" style="background-image: url(../images/instagram/3.jpg); height: 20em;">
                      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    </div>                   
                  </div>
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="instagram-col" style="background-image: url(../images/instagram/4.jpg); height: 20em;">
                      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    </div>                   
                  </div>
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="instagram-col" style="background-image: url(../images/instagram/5.jpg); height: 20em;">
                      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    </div>                   
                  </div>
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="instagram-col" style="background-image: url(../images/instagram/6.jpg); height: 20em;">
                      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    </div>                   
                  </div>
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="instagram-col" style="background-image: url(../images/instagram/7.jpg); height: 20em;">
                      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    </div>                   
                  </div>
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="instagram-col" style="background-image: url(../images/instagram/8.jpg); height: 20em;">
                      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    </div>                   
                  </div>
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="instagram-col" style="background-image: url(../images/instagram/9.jpg); height: 20em;">
                      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    </div>                   
                  </div>
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="instagram-col" style="background-image: url(../images/instagram/10.jpg); height: 20em;">
                      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    </div>                   
                  </div>
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="instagram-col" style="background-image: url(../images/instagram/11.jpg); height: 20em;">
                      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    </div>                   
                  </div>
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="instagram-col" style="background-image: url(../images/instagram/12.jpg); height: 20em;">
                      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    </div>                   
                  </div>
              </div>
              <a class="carousel-control-prev" href="#carousel-instagram" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-instagram" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
    </div>
    <div class="ratings">
      <div class="ratings-row">
        <div class="ratings-col advisor-div">
          <img class="advisor" src="../images/home/trip-advisor-badge-travelers-choice-2020-white.png" alt="jump in">
        </div>
        <div class="widget">
          <script src="https://apps.elfsight.com/p/platform.js" defer></script>
          <div class="elfsight-app-ea894197-735d-432e-baf4-882ce36d7317 widget-app"></div>
        </div>
        <div class="ratings-col review">
          <h1>LEAVE A REVIEW</h1>
          <form action="https://www.google.com/search?q=google+downtown+marina+kelowna">
            <input type="submit" value="GOOGLE"/>
          </form>
          <form action="https://www.facebook.com/downtownmarinakelowna/reviews/?ref=page_internal">
            <input type="submit" value="FACEBOOK"/>
          </form>
          <form action="https://www.tripadvisor.ca/UserReviewEdit-g154933-d8027692-Downtown_Marina_Kelowna-Kelowna_Okanagan_Valley_British_Columbia.html">
            <input type="submit" value="TRIPADVISOR"/>
          </form>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-content">
        <div class="contact-info">
          <img src="../images/home/Downtown-Marina-Logo.svg" alt="logo">
          <div class="contact-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3 footer-icon" viewBox="0 0 16 16">
              <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
              <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            <div><b>Open 7 days a week<br> Boating season: May - Sept</b></div>
          </div>
          <div class="contact-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill footer-icon" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
            </svg>
            <div>210 Bernard Ave,<br> Kelowna BC V1Y 1H2</div>
          </div>
          <div class="contact-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill footer-icon" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg>
            <a href="tel:250-763-5599">250-763-5599</a>
          </div>
          <div class="contact-row">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill footer-icon" viewBox="0 0 16 16">
              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
            </svg>
            <div>info@downtownmarina.ca</div>
          </div>
        </div>
        <div class="footer-links">
          <a href="../templates/boatRentals.html"><b>BOAT RENTALS</b></a>
          <a href="/"><b>BOAT TOURS</b></a>
          <a href="/"><b>MOORAGE</b></a>
          <a href="/"><b>FUEL + RETAIL</b></a>
          <a href="/"><b>PHOTOS</b></a>
          <a href="/"><b>CONTACT</b></a>
          <a href="/"><b>PRIVACY POLICY</b></a>
          <a href="/"><b>TERMS OF SERVICE</b></a>
        </div>
        <div class="footer-links2">
          <a href="/"><b>NEWS + TIPS</b></a>
          <a href="/" class="tips">COVID-19 UPDATE</a>
          <a href="/" class="tips">BOATING FAQ</a>
          <a href="/" class="tips">SEADOO RENTAL FAQ</a>
          <a href="/" class="tips">MOORAGE + FUEL STATION NEWS</a>
          <a href="/" class="tips">OKANAGAN LAKE INFO</a>
          <a href="/" class="tips">THINGS TO DO</a>
          <a href="/" class="tips">ABOUT US</a>
        </div>
      </div>
      <img class="sun" src="../images/home/Doodle-Sun.svg" alt="sun-doodle">
      <img class="surfboard" src="../images/home/Doodle-Surfboard.svg" alt="surf-doodle">
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../scripts/header.js"></script>
    <script type="text/javascript" src="../scripts/home.js"></script>
  </body>
</html>